.question--title {
  text-align: center;
}
  /*Q1*/
.box1 {
  width: 400px;
  height: 400px;
  background: #ff0000;
  margin: 0 auto;
}
  /*Q2*/
.box2 {
  width: 300px;
  height: 300px;
  background: #ff0000;
  margin: 0 auto;
}
  /*Q3-Q7*/
.box3,.box4,.box7 {
  display: flex;
  justify-content: center;
}
.box5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.box6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bluebox3,.greenbox3,.redbox4,.bluebox4,.redbox5,.bluebox5,.orangebox5,.greenbox6,.yellowgreenbox6,.pinkbox6,.redbox7,.bluebox7,.greenbox7  {
  width: 300px;
  height: 300px;
}
  /*Q3*/
.bluebox3 {
  background: #0008ff;
  margin-right: 150px;
}
.greenbox3 {
  background: #22ff00;
}
  /*Q4*/
.redbox4 {
  background: #ff0000;
  float: left;
}
.bluebox4 {
  background: #0008ff;
  float: left;
}
  /*Q5*/
.redbox5 {
  background: #ff0000;
  text-align: center;
  line-height: 300px;
}
.bluebox5 {
  background: #0008ff;
  text-align: center;
  line-height: 300px;
}
.orangebox5 {
  background: #ff8400;
  text-align: center;
  line-height: 300px;
}
  /*Q6*/
.greenbox6 {
  background: #00ff51;
  text-align: center;
  line-height: 300px;
  order: 1;
}
.yellowgreenbox6 {
  background: #d4ff00;
  text-align: center;
  line-height: 300px;
  order: 2;
}
.pinkbox6 {
  background: #ff00e1;
  text-align: center;
  line-height: 300px;
  order: 3;
}
  /*Q7*/
.redbox7 {
  background: #ff0000;
  display: block;
} 
.bluebox7 {
  background: #0008ff;
  display: none;
}
.greenbox7 {
  background: #00ff51;
}

@media screen and (max-width: 960px) {
  /*画面幅が最大値960px以下のとき適用*/
  .box1 {
    width: 200px;
    height: 200px;
  }
  .box2 {
    background: #007bff;
  }
  .bluebox3 {
    background: #0008ff;
    margin-right: 50px;
  }
  .greenbox3 {
    background: #22ff00;
  }
  .box4 {
    display: block;
  }
  .redbox4 {
    background: #ff0000;
    float: none;
  }
  .bluebox4 { 
    background: #0008ff;
    float: none;
  }
  .box5 {
    flex-direction: row-reverse;
  }
  .greenbox6 {
    order: 2;
  }
  .yellowgreenbox6 {
    order: 3;
  }
  .pinkbox6 {
    order: 1;
  }
  .redbox7 {
    background: #ff0000;
    display: none;
  } 
  .bluebox7 {
    background: #0008ff;
    display: block;
  }
  .greenbox7 {
    background: #00ff51;
  }

}